# compiled executables
*.exe
*.out
*.app

# intermediate objects
*.o
*.obj

# python virtual environment
venv/

# pyinstaller build folders
build/
dist/
*.spec

# generated data
*.csv

# some random stuff ( might remove later )
nul
